* {

  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {

  background: #000;

}

#header {

  color: #ff4954;
  font-weight: 700;
  margin-bottom: 20px;

}

#visor:disabled {
    background: #484848;
    color: #ff4954;
    border: 2px solid #ff4954;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
    max-width: 100%;
    font-size: 16px;
}

button {

  color: #fff;
  padding: 10px 0px;
  text-align: center;
  width: 50px;
  background: #484848;
  border: 2px solid #444;
  font-weight: 700;
  border-radius: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
}

button:hover {

 border: 2px solid #ff4954;

}

#container {

  text-align: center;
  margin-top: 10px;
}
footer{
  background: #00d563;
  height: 50px;
  width: 100%;
  text-align: center;
  bottom: 0;
  position: absolute;
}
.foot{
  color: #fff;
  font-size: 35px;
  font-family: roboto;
  font-weight: bolder;
}
@media (max-width: 50em){
  .foot{
    font-size: 20px;
  }
}

