*, *::before, *::after {
  box-sizing: border-box;
  font-family:sans-serif;
  font-weight: normal;
}
/*dev@FahaD*/
body {
  padding: 0;
  margin: 0;
  background:#000;
}
#container {
  text-align: center;
}
/*dev@FahaD*/
#header {
 background: -webkit-linear-gradient(top left,#ff8a00,#e52e71) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: sans-serif;
}
.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
button{
  padding: 6px;
}
.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 2px solid #ff495491;
  outline: none;
  background-color: #151515;
  border-radius: 0.2em;
  margin: 2px;
  color: #eee;
}
/*dev@FahaD*/
.calculator-grid > button:hover {
  background-color:#c7000b;border-color: #c7000b;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color:#151515;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border: 2px solid #ff495491;
  border-radius: 0.2em;
  margin-bottom: 2px;
}
}

.output .previous-operand {
  color: #ff4954;
  font-size: 1.8rem;
}

.output .current-operand {
  color: #c7000b;
  font-size: 2.5rem;
}
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #555;
  color: #fff;
}
.bottom center{
  padding: 5px;
  font-size: 1.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  text-decoration: none;
  background:  -webkit-linear-gradient(top left,#ff8a00,#e52e71) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bottom center a:hover{
  text-decoration: underline;
  text-decoration-color:linear-gradient(left,#ff8a00,#e52e71) ;
}
.about {
  font-size: 32px;margin-bottom: 12px;
  background: -webkit-linear-gradient(top left,#ff8a00,#e52e71) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;text-align: center;display: block;
}
.about p{
font-family: 'Noto Sans JP', sans-serif;
font-style: normal;
font-size: 2rem;
letter-spacing: -.03rem;
font-weight: 700; 
}
.about q{
  font-size: 32px;margin-left: 4px;margin-right: 4px;
  font-family: 'Roboto', sans-serif; margin-bottom: 18px;
}
img{
  height: 260px;border-radius: 50%;margin: 80px 0 0 0;
}/*dev@FahaD*/
@media screen and (max-width: 900px){
  .about {
  font-size: 24px;word-break:break-word;}
  img{
  height: 160px;
  }
  .bottom center{
  padding: 5px;
  font-size: 1.0375rem;
  background: #151515;
  }
.calculator-grid{
    min-height: 10vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(90px, auto) repeat(5, 80px);
  }
}/*dev@FahaD*/
