*, *::before, *::after {
  box-sizing: border-box;
  font-family:sans-serif;
}
html{
  scroll-behavior: smooth;
}
#blk{
  padding: 0;
  margin: 0;
  background: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.075);
}
::-webkit-scrollbar-thumb {
    background: #c7000b;
}
::selection{
  background:#ff48546b;
}/*dev@FahaD*/
/*loader start*/
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #ffffff15;backdrop-filter:blur(1px);
  border-radius: 50%;
  border-top: 16px solid #ec4752;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
/*loader end*/
.lgo span:hover{
  color: #c7000b;
}
.content{
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 10px 0;
  transition: all 0.3s ease;
  top: 0;
}/*dev@FahaD*/
.navbar.sticky{
  background:#ffffff3d;backdrop-filter:blur(2px);
  padding: 15px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  font-weight: 600;
  text-decoration: none;
  color: #ffc179;
  font-size: 26px;    
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: .08rem;
}
.navbar .menu-list{
  display: inline-flex;
}/*dev@FahaD*/
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #ffc179;
  font-size: 20px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 2px solid #ffffff3d;
  padding: 6px 16px;
  border-radius: 50px;
}
.menu-list li a:hover{
  color: #fff;background: #c7000b;border-color: #ffffff3d;
  box-shadow: 1px 1px 13px 0px #c7000b;
}
.icon{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
.icon.menu-btn span{
  margin-left: -40px;
}
.icon.cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
.navbar.sticky .icon.cancel-btn{
  top: 10px;
}
/*Nav end*/
#container {
  text-align: center;margin-top: 110px;
}

#header {
  color: #ffc179;
  font-weight: 700;
  font-family: sans-serif;
}/*dev@FahaD*/
.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
button{
  padding: 6px;
}
.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color:#ffffff3d;
  border-radius: 0.2em;
  margin: 2px;
  color: #eee;
  backdrop-filter:blur(0.5px);
}

.calculator-grid > button:hover {
  background-color:#c7000b;border-color: #c7000b;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color:#ffffff3d;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border: none;
  border-radius: 0.2em;
  margin-bottom: 2px;
  backdrop-filter: blur(0.5px);
}/*dev@FahaD*/
.output .previous-operand {
  color: #c7000b;
  font-size: 1.8rem;
}

.output .current-operand {
  color: #c7000b;
  font-size: 2.5rem;
}
footer{/*dev@FahaD*/
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #a5a5a53d;
  color: #ffc179;backdrop-filter:blur(1px);
}
.bottom center{
  padding: 5px;
  font-size: 1.9375rem;
  background:#5a5a5a3d;
}
.bottom center a{
  text-decoration: none;
  color: #ffc179;
}
.bottom center a:hover{
  text-decoration: underline;
  text-decoration-color:#ffc179;
  -moz-text-decoration-color:#ffc179;
}/*dev@FahaD*/
.about {
  font-size: 32px;margin-bottom:220px;margin-top:220px;
  text-align: center;display: block;
}
.about #abt{
  color: #ffc179;
font-family: 'Noto Sans JP', sans-serif;
font-style: normal;
font-size: 4rem;
letter-spacing: -.03rem;
font-weight: 700;margin-bottom: 2px;
}
/*dev@FahaD*/
#say{
  font-size: 30px;margin-left: 40px;
margin-right: 40px;
  font-family: 'Roboto', sans-serif; margin-bottom: 48px;color: #ffc179;
}
#quotes{
  font-size: 84px;display:inline-block;margin-left:-50px;
}
#f{
  font-size: 50px;
}
.skill {
  text-align: center;color: #fff;margin-top:220px;margin-bottom:220px;
}/*dev@FahaD*/
.skill #abt{
  color: #ffc179;
font-family: 'Noto Sans JP', sans-serif;
font-style: normal;
font-size: 3rem;
letter-spacing: -.03rem;
font-weight: 700;
}
.skill-box {
  width: 98%;
  margin-left: 15px;
  text-align:center;
  margin-bottom:20px;
}
.skill-box p{
  font-size:24px;color:#ffc179;font-family: 'Noto Sans JP', sans-serif;
}
.container #sh{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;text-align:center;
  box-shadow: 2px 2px 20px 9px #00000024;
  border-radius: 0.4em;
}
.pc {width: 90%; background: -webkit-linear-gradient(top left,#e52e71,#ff8a00) ;border-radius: 0.5em;height:28px;}
.web {width: 80%; background: -webkit-linear-gradient(top left,#e52e71,#ff8a00) ;border-radius: 0.5em;height:28px;}
.net {width: 65%; background: -webkit-linear-gradient(top left,#e52e71,#ff8a00) ;border-radius: 0.5em;height:28px;}
.elec {width: 60%; background: -webkit-linear-gradient(top left,#e52e71,#ff8a00) ;border-radius: 0.5em;height:28px;}
img{/*dev@FahaD*/
  height: 260px;border-radius: 50%;margin: 80px 0 0 0;margin-top: 10px;
}
.circle-img{
  background: #ffffff3d;
  width: 280px;
  height: 280px;
  position: relative;
  margin: 30px auto 20px auto;
  backdrop-filter: blur(0.5px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/*skills end*/
iframe#fform{
height: 950px;
width: 100%;
border: none;overflow-y: scroll;margin-top:100px;
}
iframe{
width: 110px;
height: 240px;
margin-left: auto;
margin-right: auto;
}
.adg{
width: 100%;
height: 240px;display: flex;
}
.hrt{
  color: #c7000b;
}
@media screen and (max-width: 900px){
  .about #abt{
  font-size: 45px;word-break:break-word;}
  img{
  height: 160px;
  }
  .circle-img{
    width: 180px;
    height: 180px;
  }
  .bottom center{
  padding: 5px;
  font-size: 1.0375rem;
  }
.calculator-grid{
    min-height: 10vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(90px, auto) repeat(5, 80px);
  }
    .icon{
    display: block;
  }
  .icon.cancel-btn{
    margin-right: 10px;
  }
  .icon.hide{
    display: none;
  }/*dev@FahaD*/
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
